<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- GPS -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <!-- Foreground Service -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />

    <!-- Notifikasi (Android 13+) -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".MediTrackApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="MediTrack Kurir"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MediTrack"
        android:usesCleartextTraffic="true">

        <!-- Google Maps API Key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCBLLsMcpfsWis9HRZjWt1g21jUVHVX-Bs" />

        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.orders.OrderListActivity"
            android:exported="false" />

        <activity
            android:name=".ui.delivery.DeliveryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.history.HistoryActivity"
            android:exported="false" />

        <!-- Background GPS Service -->
        <service
            android:name=".service.LocationService"
            android:exported="false"
            android:foregroundServiceType="location" />

    </application>

</manifest>
